h1 {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 30px;
}

.container {
  text-align: center;
  padding: 40px 20px;
}


.label {
  padding-top: 48px;
  padding-bottom: 16px;
  font-size: 24px;
}

.grid {
  display: flex; /* flexbox automaticamente é linha e não coluna */
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

