img {
  width: 30px;
}

.moeda-container {
    padding: 20px;
    text-align: center;
}
  
.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color:  #333;;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  margin-top: 52px;
  width: 600px;
}

.back-button:hover {
  transition: 1s ease-in;
  background-color: rgb(138, 77, 77);
}

.brlValue {
  font-size: 40px;
  padding-bottom: 10px;
}

.currencyGeneralInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currencyVariationInfo {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 24px;
  padding-top: 20px;
}

.greenText {
  font-size: 32px;
  color: #00FF8C;
  background-color: rgba(1, 64, 37, 0.5);
  padding: 15px;
  border-radius: 20px;
}

.lastClosing {
  font-size: 24px;
  padding: 15px;
  background-color: #3F3F3F;
  border-radius: 20px;
  width: 600px;
}
